@import "_variables.scss";
/******ACCOUNT*******/

/*card background*/
.account-container {
  background: $bg;
}

/*separator*/
.yt-horizontal-rule {
  border-color: $sep-base;
}

/*big titles*/
.account-header h1, h3.pairing-section-header {
  color: $gray-lighter;
}

/*common text*/
#creator-sidebar h3, #creator-sidebar h3 a, #creator-sidebar .creator-sidebar-section a, h3.account-section-header, .account-content {
  color: $c-333;
}

/*menu on hover*/
#creator-sidebar .creator-sidebar-section a:hover {
  color: $c-333;
  background: $bg-lighter;
}

/*Connected TVs*/
.howto-promo-container {
  background-image: linear-gradient(to top,$bg-darker 0,$bg 15px);
}
.howto-circle {
  color: $bg;
}

/*Checkboxes*/
.yt-uix-form-input-checkbox-container input:checked+.yt-uix-form-input-checkbox-element {
  background-image: url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflm-serG.webp);
  background-position: -197px -243px;
}

/*Popups arrow*/
.yt-uix-clickcard-card-flip .yt-uix-card-body-arrow-horizontal, .yt-uix-hovercard-card-flip .yt-uix-card-body-arrow-horizontal {
  border-right-color: $bg;
}
.yt-uix-clickcard-card-flip .yt-uix-card-border-arrow-horizontal, .yt-uix-hovercard-card-flip .yt-uix-card-border-arrow-horizontal {
  border-right-color: $border-darker;
}

/*other*/
.social-connector, .desktop-notifications .browser {
  border-color: $border-default;
  background: $bg-darker;
}