@import "_variables.scss";
/******BUTTONS*******/

/*default*/
.yt-uix-button-subscribed-branded, .yt-uix-button-subscribed-branded[disabled], .yt-uix-button-subscribed-branded[disabled]:hover, .yt-uix-button-subscribed-branded[disabled]:active, .yt-uix-button-subscribed-branded[disabled]:focus, .yt-uix-button-subscribed-unbranded, .yt-uix-button-subscribed-unbranded[disabled], .yt-uix-button-subscribed-unbranded[disabled]:hover, .yt-uix-button-subscribed-unbranded[disabled]:active, .yt-uix-button-subscribed-unbranded[disabled]:focus,.yt-uix-button-default, .yt-uix-button-default[disabled], .yt-uix-button-default[disabled]:hover, .yt-uix-button-default[disabled]:active, .yt-uix-button-default[disabled]:focus {
  background-color: $btn-def-bg;
  border-color: $btn-def-border;
  color: $gray-base;
}

.yt-uix-button-default:hover, .yt-uix-button-text:hover {
  background-color: $btn-def-bg-hover;
  border-color: $btn-def-border-hover;
  color: $gray-lighter;
}
/*slider btn*/
.compact-shelf .yt-uix-button-shelf-slider-pager {
  background: $bg;
}
.browse-list-item-container:hover .compact-shelf .yt-uix-button-shelf-slider-pager, .compact-shelf:hover .yt-uix-button-shelf-slider-pager {
    border: 1px solid #2c2c2d;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.28);
}

/*subscribe*/
.yt-uix-button-subscribe-branded, .yt-uix-button-subscribe-branded[disabled], .yt-uix-button-subscribe-branded[disabled]:hover, .yt-uix-button-subscribe-branded[disabled]:active, .yt-uix-button-subscribe-branded[disabled]:focus {
  background-color: $red-bg;
}
.yt-uix-button-subscribe-branded:hover {
  background-color: lighten($red-bg, 5);
}
.yt-subscription-button-subscriber-count-branded-horizontal, .yt-subscription-button-subscriber-count-unbranded-horizontal {
  border-color: $btn-def-border;
  background-color: $btn-def-bg;
}
.yt-subscription-button-subscriber-count-branded-horizontal, .yt-subscription-button-subscriber-count-unbranded-horizontal {
    color: $gray-base;
}
