@import "_variables.scss";
/*********LIVE*********/

/*chat*/
#watch-sidebar-live-chat,.yt-live-chat-message-input-renderer-0,.yt-live-chat-ticker-renderer-0,.yt-live-chat-header-renderer-0 {
    background: $live-chat-bg;
}
.yt-live-chat-renderer-0,#watch-sidebar-live-chat .yt-uix-expander-collapsed {
  background: $live-chat-content-bg;
  color: $gray-lighter;
}

//msg menu
.yt-live-chat-text-message-renderer-0 #menu.yt-live-chat-text-message-renderer {
  background: transparent;
}

//chat msg
.yt-live-chat-text-message-renderer-0 #message.yt-live-chat-text-message-renderer {
  color: $c-333;
}
//chat author-name
.yt-live-chat-text-message-renderer-0 #content.yt-live-chat-text-message-renderer {
  color: $c-767676;
}
//name
.yt-live-chat-message-input-renderer-0 #author-name.yt-live-chat-message-input-renderer {
  color: $gray-lighter;
}


.yt-live-chat-text-input-field-renderer-0 #label.yt-live-chat-text-input-field-renderer,.yt-live-chat-message-input-renderer-0 #count.yt-live-chat-message-input-renderer {
  color: $c-767676;
}

.yt-live-chat-icon-toggle-button-renderer-0 [active].yt-live-chat-icon-toggle-button-renderer,.yt-live-chat-header-renderer-0,.yt-live-chat-header-renderer-0 #action-buttons.yt-live-chat-header-renderer > *.yt-live-chat-header-renderer, .yt-live-chat-header-renderer-0 #overflow.yt-live-chat-header-renderer,.yt-live-chat-text-message-renderer-0 #menu.yt-live-chat-text-message-renderer {
  color: $gray-lighter;
}
.yt-live-chat-icon-toggle-button-renderer-0 .yt-live-chat-icon-toggle-button-renderer {
  color: $c-333;
}

//todo
///*Emoji search*/