@import "_variables.scss";
/******POPUPS*******/

.yt-dialog-fg, .yt-uix-overlay-fg,.no-focus-outline .yt-dialog-fg:focus {
    background: $bg!important;
    border: 1px solid $border-menu;
}
.yt-dialog-fg-content .yt-dialog-title, .yt-uix-overlay-fg-content .yt-dialog-title,.yt-dialog-fg-content, .yt-uix-overlay-fg-content {
  color: $gray-base;
}
.yt-uix-form-input-select {
  background: $bg-lighter;
  text-shadow: none;
}
.yt-uix-form-input-select:hover, .yt-uix-form-input-text:hover, .yt-uix-form-input-textarea:hover,.yt-uix-form-input-select, .yt-uix-form-input-text, .yt-uix-form-input-textarea {
  border-color: $bg-lighter;
  color: $gray-base;
}
