@import "_variables.scss";
/******SEARCH*******/
.masthead-search-terms-border {
  background-color: $bg !important;
  border-color: $border-default;
  box-shadow: none;
}

.gssb_k {
  z-index: 0;
}
.gssb_m {
    color: $c-333;
    background: $bg;
}
.gssb_e {
  border-color: $search-border;
}
/*hover*/
.gssb_i td {
    background: $dropdown-item-bg-hover;
}
