@import "_variables.scss";
/******SEARCH*******/
.gssb_k {
  z-index: 0;
}
.gssb_m {
    color: $gray-base;
    background: $bg;
}
.gssb_e {
  border-color: $search-border;
}
/*hover*/
.gssb_i td {
    background: $dropdown-item-bg-hover;
}
