//---General

$bg: #1a1a1a;
$bg-darker: darken($bg,3%);
$bg-lighter: lighten($bg,3%);

$sep-base: lighten($bg, 6%);
//$sep-lighter: lighten($bg, 6%);

//searchbar
$searchbar: lighten($bg, 4%);

//dropdown
$search-border:lighten( $bg, 8 );

//Input
$input-color: #ccc;

//Color
//todo: different variants of colors in scale from 1 to 5 like it is on http://materializecss.com/color.html
//EXAMPLE:
$c-000: #e6e6e6; // #000
$c-111: #d8d8d8; // #111
$c-222: #cacaca; // #222
$c-333: #bdbdbd; // #333
$c-444: #afafaf; // #444
$c-555: #a2a2a2; // #555
$c-767676: #878787; // #767676

$gray-lighter: #ccc; //big titles #444 & #555 ?
$gray-darker: #6f6f6f; //even more dark


$link-color: #549cd8;

$blue: $link-color;

$red-bg: #7d2e2e;
$red-text: #b32e2e;

//---Menu

//Item Hover bg
$menu-bg-hover: lighten( desaturate( adjust-hue($bg, -2deg ), 3 ), 8 );

//Border
$border-menu: lighten($bg, 2%);

//---Buttons
//default
$btn-def-bg: lighten( $bg, 8 );
$btn-def-border: lighten( $bg, 12 );

$btn-def-bg-hover: lighten( $btn-def-bg, 3 );
$btn-def-border-hover: lighten( $btn-def-border, 2 );

//---Badges
$badge-new-color: $gray-lighter;
$badge-new-bg: $btn-def-bg;
$badge-new-border: $badge-new-bg;


$badge-live-color: $gray-lighter;
$badge-live-bg: #6f2121;
$badge-live-border: $badge-live-bg;

//---Shadow
$shadow-badge: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
//$shadow-toggle: inset 0 1px 9px 0px rgba(0, 0, 0, 0.21);

//---Dropdowns
$dropdown-item-bg-hover: lighten($bg,4 );

//---Borders
$border-default: $search-border;
$border-darker: darken($border-default, 2);

//---channel
//buttons (on section hover)
$channel-btn-bg: lighten( $bg, 3 );
$channel-btn-border: lighten( $bg, 6 );

//module edit
$channel-module-edit-bg: darken( $bg, 2 );

//subscribe button (popular channels)
$channel-sub-btn-bg: lighten( $bg, 5 );
$channel-sub-btn-border: lighten( $bg, 7 );

$channel-sub-btn-bg-hover: lighten($channel-sub-btn-bg, 3);
$channel-sub-btn-border-hover: lighten($channel-sub-btn-border, 5);

//---Live
//chatbox
$live-chat-bg: #292929;
$live-chat-content-bg: $bg;

//---icons
$invert: invert(.9); // because it inverts #fff to $bg: #1a1a1a
$invert-grayscale: invert(.9) grayscale(1);